<head>
  <link rel="stylesheet" href="styles.css">
</head>

<body id="outer">
    <div id="top">
        <h1>{{.Header}}</h1>
    </div>
    
    <ul>
        <div id="imagediv">
            <img id = "image" src="data/{{.Image}}" alt="{{.Image}}" >
        </div>
        <table id="responsediv">
        <tbody>
        {{range $key, $value := .Answers -}}
            <tr>
            <td>
                <button onclick="window.location.href='cekoissa?{{index $value 1}}';" id = "button">
                    {{index $value 0}}
                </button>
            </td>
            </tr>
        {{end}}
        </tbody>
        </table>
    </ul>

</body>