<head>
	<link rel="stylesheet" href="styles.css">
  </head>
  
  <body id="outer">
	  <div id="top">
		  Tu veux jouer a quoi ?
	  </div>
	  
	<div id="homediv">
		<ul>
		  <table id="hometable">
		  <tbody>
			{{range $key, $value := .Series -}}
            <tr>
            <td>
                <button onclick="window.location.href='{{index $value 0}}';" id = "button">
                    {{index $value 1}}
                </button>
            </td>
            </tr>
        	{{end}}
		  </tbody>
		  </table>
	  </ul>
	</div>
	  
  
  </body>