<head>
	<link rel="stylesheet" href="styles.css">
  </head>
  
  <body id="outer">
	  <div id="top">
		  <h1>Tu veux jouer a quoi ?</h1>
	  </div>
	  
	  <ul>
		  <table id="responsediv">
		  <tbody>
			  <tr>
			  <td>
				  <button onclick="window.location.href='cekoissa';" id = "button">
					  Cékoissa ?
				  </button>
			  </td>
			  </tr>
			  <tr>
				<td>
					<button onclick="window.location.href='whoisthat';" id = "button">
						Who's that ?
					</button>
				</td>
				</tr>
		  </tbody>
		  </table>
	  </ul>
  
  </body>