<head>
  <link rel="stylesheet" href="styles.css">
</head>

<body id="outer">
    <div id="top">
        {{.Header}}
        <div id="counter">{{.Counter}}</div>
        <button id="homebutton" onclick="window.location.href='/';"></button>
    </div>

    <ul>
        <div id="imagediv" style="background-color: {{.Imagecolor}}">
            <img id = "image" src="data/{{.Image}}" alt="{{.Image}}" >
        </div>
        <table id="responsediv">
        <tbody>
        {{range $key, $value := .Answers -}}
            <tr>
            <td>
                <button onclick="window.location.href='{{index $value 1}}';" id = "{{index $value 2}}">
                    {{index $value 0}}
                </button>
            </td>
            </tr>
        {{end}}
        </tbody>
        </table>
    </ul>

</body>