<head>
  <link rel="stylesheet" href="styles.css">
</head>

<body id="outer">
    <div id="toperror" style="background-color: {{.Headercolor}}">
        {{.Header}}
        <button id="homebutton" onclick="window.location.href='/';"></button>
    </div>
    
    <ul>
        <div id="imagediv" style="background-color: {{.Imagecolor}}">
            <img id = "image" src="data/{{.Image}}" alt="{{.Image}}" >
        </div>
                <table id="responsediv">
        <tbody>
            <tr>
            <td id="response"></td>
            </tr>
            </tr>
            <tr>
            <td id="response">{{.Response}}</td>
            </tr>
            <tr>
            <td id="response"></td>
            </tr>
            <tr>
            <td id="response"></td>
            </tr>
            <tr>
            <td id="response">
                <button onclick="window.location.href='{{.Next}}';" id="button">
                    j'avoue
                </button>
            </td>
            </tr>
        </tbody>
        </table>
    </ul>
</body>