#outer {
    background: #3e3e3e; 
    position:relative;
    border-radius: 30px;
}

#top {
    left: 10px;
	right: 10px; 
    top: 0px; 
    width: auto; 
    height: 85px; 
    position: absolute; 
	background: #10e722; 
	text-align: center;
    border-radius: 30px;
}

#toperror {
    left: 10px;
	right: 10px; 
    top: 0px; 
    width: auto; 
    height: 85px; 
    position: absolute; 
	background: #e71010; 
	text-align: center;
    border-radius: 30px;
}

#imagediv {
    left: 10px; 
    top: 100px; 
    width: 50%; 
    height: 650px; 
    position: absolute; 
	background: #000000; 
    text-align: center;
    border-radius: 30px;
}

#questiondiv {
    left: 10px; 
    top: 100px; 
    width: 50%; 
    height: 650px; 
    position: absolute; 
	background: #dfcdcd; 
    text-align: center;
    border: 100px;
    border-radius: 30px;
}

#responsediv {
    right: 10px; 
    top: 100px; 
    width: 45%; 
    height: 650px; 
    position: absolute; 
	background: #0000009a; 
    text-align: center;
    border-radius: 30px;
}

#image {
    width: 100%; 
    height: 100%;
	object-fit: contain;
    border-radius: 30px;
}

#response {
	font-size: 40px;
	color: #ffffff;
}

#button {
	font-size: 30px;
	border: none;
    border-radius: 10px;
    padding: 20px;
}