//yo hé toi le futur hacker pas grand chose a trouver ici mais si tu veux contribuer mp moi on verra.
<head>
  <link rel="stylesheet" href="styles.css">
</head>

<body id="outer">
    <div id="top">
        <div id="counter">{{.Counter}}</div>
        {{.Header}}
        <button id="homebutton" onclick="window.location.href='/';"></button>
    </div>
    
    <ul>
        <div id="questiondiv">
            <br>
            {{.Question}}
        </div>
        <table id="responsediv">
        <tbody>
        {{range $key, $value := .Answers -}}
            <tr>
            <td>
                <button onclick="window.location.href='{{index $value 1}}';" id = "button"  style="background-color: {{index $value 2}}">
                    {{index $value 0}}
                </button>
            </td>
            </tr>
        {{end}}
        </tbody>
        </table>
    </ul>
</body>