<head>
	<link rel="stylesheet" href="styles.css">
  </head>
  
  <body id="outer">
	  <div id="toperror" style="background-color: {{.Headercolor}}">
		{{.Header}}
		<button id="homebutton" onclick="window.location.href='/';"></button>
	  </div>
	  
		<ul>
			<div id="questiondiv">
				<p>
				<br>
				{{.Question}}
				{{range $key, $value := .Questions -}}
					{{index $value 0}} : <b> {{index $value 1}} </b> <br><br>
				{{end}}					
				</p>
			</div>
			<table id="responsediv">
			<tbody>
				<tr>
				<td id="response"></td>
				</tr>
				<tr>
				<td id="response">{{.Response}}</td>
				</tr>
				<tr>
				<td id="response"></td>
				</tr>
				<tr>
				<td id="response"></td>
				</tr>
				<tr>
				<td id="response">
					<button onclick="window.location.href='{{.Next}}';" id="button">
						Hmmm k
					</button>
				</td>
				</tr>
			</tbody>
			</table>
		</ul>
  </body>